<div class="themeFix" id="themeFix">

    <div id="themeDiv" class="themeDiv">
        <div class="button">  
                <div id="girly" onclick="mef('girly');" type="button" value= ></div>
                <div id="green" onclick="mef('green');" type="button" value= ></div>
                <div id="sobre" type="button" onclick="mef('dark');" value=""></div>
        </div> 
        
        <img class="row" id="row" src="/images/fleche1.png"  alt="Color Theme">
    </div>

    
</div>

