<div class="topBar" id="topBar">
            
    <a  href="/" class="acceuil pink"><!--<img src="/images/logol.png" width="45%" alt="" srcset="">-->he</a>
    
    <a class="about pink"  href="about">DED c'est quoi ?</a>
   



    
    <a class="link pink" id="help" href="help">L'entre-aide</a>
     <a class="link pink" id="projet" href="projets">Mes projets</a>
     <a class="link pink" id="tutos" href="tutos">Les tutos</a>
     <div class="link pink" id="contactLink">Contacts</div> 
     
     <div class="logg" id="logg">
        <input type="button" id="inscBtn" class="inscScrollBarr" onclick="inscription()" value='Inscription'>
        <input type="button" class="loginScrollBarr" onclick="login()" id="btnLogin" value="Connexion">
        <input type="button" id="logOkBtn" class="logBtn " onclick="dashboard()" value="Deconnexion">
        <input type="button" id="decoBtn" class="decoBtn "  onclick="eatCookies()" value="Deconnexion">
        
        
    </div>   
 </div>





