<div class="topBarOff" id="topBar2">
        
    <a  href="/" class="acceuil pink"><!--<img src="/images/logol.png" width="45%" alt="" srcset="">-->he</a>
    
    <a class="about pink"  href="about">DED c'est quoi ?</a>
    <div class="themeDiv">
       <input id="girly" onclick="mef('girly');" type="button" value= >
       <input id="green" onclick="mef('green');" type="button" value= >
       <input id="sobre" type="button" onclick="mef('dark');" value="">
   </div>



    
     <a class="link pink" id="help" href="help">L'entre-aide</a>
     <a class="link pink" id="projet" href="projets">Mes projets</a>
     <a class="link pink" id="tutos" href="tutos">Les tutos</a>
     <div class="link pink" id="contactLink">Contacts</div> 
     
     <div class="logg" id="logg2">
        <input type="button" class="inscScrollBarr" onclick="inscription()" id="btn1" value='Inscription'>
        <input type="button" class="loginScrollBarr" onclick="login()" id="btn2" value="Connexion">

        <input type="button" class="inscScrollBarr" onclick="dashboard()" id="miniOk" value=''>
        <input type="button" class="loginScrollBarr" onclick="eatCookies()" id="minDeco" value="Deconnexion">
    </div> 
    
        
    </div>     
 </div>
</div> 

